<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:hardwareAccelerated="true"
    package="r.akshay.book">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".SignUp"
            android:parentActivityName=".Login">
        </activity>
        <activity android:name=".SearchResult"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".BookNameUpload"
            />
        <activity android:name=".RateList"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".RateResult"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".list"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>
</manifest>